
/* ADD YOUR STYLES HERE */
.details {
  position: absolute;
  text-align: center;
  width: 120px;
  /*height: 50px;*/
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
