[submodule "datafest2017_rep_research_tools"]
	path = DataFest-2017/datafest2017_rep_research_tools
	url = https://github.com/christophergandrud/datafest2017_rep_research_tools.git
[submodule "datafest2017_dashboard_shiny"]
	path = DataFest-2017/datafest2017_dashboard_shiny
	url = https://github.com/christophergandrud/datafest2017_dashboard_shiny.git
